<div class="header">
	<nav class="navbar navbar-toggleable-md navbar-light">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">Cingle</a>
			<div class="menu-bar collapse navbar-collapse clearfix" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLink="/design">Portfolio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="#">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="#">Contact Us</a>
					</li>
				</ul>
			</div>
		</div>
		
	</nav>
</div>
