<div class="top_header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="contact_info">
          <ul>
            <li><img src="/assets/images/icon_03.png" alt="contact_icon"><span>+91-99-44-565649</span></li>
            <li><img src="/assets/images/icon_05.png" alt="contact_icon"><span>Info@gmail.com</span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="social_icons clearfix">
          <ul class="float-right">
            <li>Follow Us:</li>
            <li><a href=""><img src="/assets/images/icon_07.png" alt="social_icon"></a></li>
            <li><a href=""><img src="/assets/images/icon_09.png" alt="social_icon"></a></li>
            <li><a href=""><img src="/assets/images/icon_11.png" alt="social_icon"></a></li>
            <li><a href=""><img src="/assets/images/icon_13.png" alt="social_icon"></a></li>
            <li><a href=""><img src="/assets/images/icon_15.png" alt="social_icon"></a></li>
            <li><a href=""><img src="/assets/images/icon_17.png" alt="social_icon"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
